<span> <b>First Name: </b> {{user.first_name}}</span><br>
<span> <b>Last Name: </b> {{user.last_name}}</span><br>
<span> <b>Email: </b> {{user.email}}</span><br>
<span> <b>Age: </b> {{user.age}}</span>