<h1>Login</h1>

<form action="/api/sessions/login" method="post">

    <fieldset>
        <label>Email <input type="email" name="email" id="email"></label><br>
        <label>Password <input type="password" name="password" id="password"></label><br>
        <button>Login</button>
    </fieldset>

</form>