<h2>Restore password</h2>

<form action="/api/users/password/restore/{{userId}}" method="post">
    <fieldset>
        <input name="newPassword" id="newPassword" type="text">
        <button>Restore password</button>
    </fieldset>
</form>
