<h1>Signup</h1>

<form action="/api/sessions/signup" method="post">

    <fieldset>
        <label>First name <input type="text" name="first_name" id="first_name" required></label><br>
        <label>Last name <input type="text" name="last_name" id="last_name" required></label><br>
        <label>Email <input type="email" name="email" id="email" required></label><br>
        <label>Age <input type="number" name="age" id="age" required></label><br>
        <label>Password <input type="password" name="password" id="password" required></label><br>
        <button>Signup</button>
    </fieldset>

</form>